<nav>
  <a routerLink="/demoutilerias">Demo utilerias</a>
  <a routerLink="/vuelos">Vuelos</a>
  <a routerLink="/personas">Personas</a>
  <a routerLink="/detallepersonas">Detalle Personas</a>
</nav>
<router-outlet></router-outlet>
<!-- div>
  {{ prop1 }} {{ prop2 }} {{ prop3 }}
  <button (click)="demo()">Demo</button>
</div>
<hr />
<br />
<app-info-persona
  nombre="Sergio Daniel"
  apellido="Gonzalez Ortega"
></app-info-persona>
<hr />
<br />
<app-matematico
  #appMath1
  [x]="5"
  [y]="-2"
  operacion="+"
  (buttonClicked)="onClick($event)"
></app-matematico>
<span
  >{{ appMath1.x }} {{ appMath1.operacion }} {{ appMath1.y }} =
  {{ appMath1.resultado }}</span
>
<hr />
<br />
<p *ngIf="prop1 !== 'Prop 1'; else noSeCumple">Se cumplio la condicion</p>
<ng-template #noSeCumple>
  <p>No se cumplio la condicion</p>
</ng-template>
<hr />
<br /> -->
